<div id="marketStallinformationContainer">
	<div class="row">
	   	<a href="#" id="editMarketStall"><%= I18n.t("links.global.edit") %></a>
	</div>
	<div class="row">
	    <div class="span2"><label><%= I18n.t("properties.main_information.product_categories")%>:</label></div>
	    <div class="span3"><label for="products"></label></div>
	</div>
	<div class="row">
	    <div class="span2"><label><%= I18n.t("properties.additional_information.description")%>:</label></div>
	    <div class="span6"><label for="description"></label></div>
	</div>
	<div class="row">
	    <div class="span2"><label><%= I18n.t("properties.additional_information.website")%>:</label> </div>
	    <div class="span2"><label for="website"></label></div>
	</div>
	<div class="row">
	    <div class="span2"><label><%= I18n.t("properties.additional_information.email")%>:</label> </div>
	    <div class="span2"><label for="mail"></label></div>
	</div>
	 <div class="row">
	    <div class="span2"><label><%= I18n.t("properties.additional_information.phone")%>:</label> </div>
	    <div class="span2"><label for="phone"></label></div>
	</div>
</div>