<div id ="test"><ul></ul></div>
  <%=  render 'marketStallinformationContainer' %>
<div id="newMarketStallContainer">
    <h4><%= I18n.t("headers.add_new_market_stalls")%></h4>
    <%= render 'nameRow' %>
    <%= render 'productCategoriesRow' %>
    <%= render 'additionalInformationForm' %>
    <div class="row">
        <button class="btn btn-info" type="button" id="addAMarketStallButton"><%= I18n.t("button.add_market_stall")%></button>
    </div>
</div>
<div id="invisibleMarketStallContainer">
    <div id="editdMarketStallContainer">
        <%= render 'nameRow' %>
        <%= render 'productCategoriesRow' %>
        <%= render 'additionalInformationForm' %>
        <div class="row">
            <button class="btn btn-info" type="button" id="confirmEditingMarketStallButton">Änderungen speichern</button>
            <button class="btn btn-alert" type="button" id="cancelEditingMarketStallButton">Schliessen</button>
        </div>  

    </div>
</div>