<%=  render 'newPosHeader' %> 
<% content_for :javascript_includes do %>
    <%= javascript_include_tag "add_apos/add_apos.js" %>
    <%= javascript_include_tag "add_apos/first_step.js" %>
    <%= javascript_include_tag "add_apos/second_step.js" %>
    <%= javascript_include_tag "add_apos/market_stalls_step.js" %>
    <%= javascript_include_tag "add_apos/overview.js" %>
<% end %>
<div id='marketStallsMoreInfoDiv'></div>
<div id="wrapper">
	    <div id="navigation" style="display:none;">
        <ul>
            <li class="selected">
                <a href="#" class="available">Ort Bestimmen</a>
            </li>
            <li>
                <a href="#" class="available">Hauptinformationen</a>
            </li>
            <li class="unactive">
                <a href="#">Zusätzliche Informationen</a>
            </li>
            <li class="unactive">
                <a href="#" id="marketStallsStepLink" class="invisible">Marktstände</a>
            </li>
			<li>
                <a href="#" id="overviewTab">Bestätigen</a>
            </li>
        </ul>
    </div>
    <div id="steps">
        <form id="addAPosForm" name="addAPosForm" action="" method="post">
            <fieldset class="step">
                <legend>Ort Bestimmen</legend>
                <div class = "instruction">Suche nach einer Adresse oder präzisiere die Lokation auf der Karte</div>
				<div class="control-group">
				  <div class="controls">
				    <div class="input-prepend">
					    <input class="span2" id="locationInput" type="text" placeholder="Adresse eingeben">
					    <a class="btn" href="#" id="locationSubmit"><i class="icon-search"></i></a>
				    </div>
				  </div>
				</div>
				<div id="locationSearchResults"></div>
				<div id="newPosMap"></div>
                <%=  render 'buttonToTheNextStep' %>
            </fieldset>
            <fieldset class="step" id="mainInformationFieldset">
                <legend>Hauptinformationen</legend>
                <%=  render 'mainInformationForm' %> 
                <%=  render 'buttonToTheNextStep' %>   
            </fieldset>
            <fieldset class="step" id="additionalInformationFieldset">
                <legend>Zusätzliche Informationen</legend>
                <%=  render 'additionalInformationForm' %>
                <%=  render 'buttonToTheNextStep' %>
            </fieldset>
            <fieldset class="step" >
                <div id="marketStallsStepContainer">
                    <legend>Marktstände</legend>
                    <%=  render 'newMarketStallForm' %>
                </div>
            </fieldset>
			<fieldset class="step" id="overviewContainer">
                <legend>Übersicht</legend>
                <div class="row">
                     <div class="instruction">
                        <p>Bitte überprüfe deine Angaben und bestätige wenn sie korrekt sind.<br />
                        Anderenfalls ändere die Angaben in den vorherigen schritten.</p>
                    </div>
                </div>           
                <%=  render 'newPosOverview' %>
            </fieldset>
        </form>
    </div>
</div>

