<% content_for :javascript_includes do %>
    <%= javascript_include_tag "point_of_interests/form.js" %>
<% end %>

<%= simple_form_for(@point_of_interest) do |f| %>
  <div class="form-inputs">
	  <%= f.input :name, input_html: { class: "formTextInput" } %>
	  <%= f.input :address, input_html: { class: "formTextInput" } %>
	  <%= f.input :posTypeId, collection: @pos_types_collection, as: :select, prompt: I18n.t("instructions.add_a_pos.select_pos_type") %>
	  <%= f.input :productCategoryIds, collection: @product_categories_collection, as: :check_boxes %>
	  <%= f.input :phone, input_html: { class: "formTextInput" } %>
	  <%= f.input :cell_phone, input_html: { class: "formTextInput" } %>
	  <%= f.input :mail, input_html: { class: "formTextInput" } %>
	  <%= f.input :website, input_html: { class: "formTextInput" } %>
	  <%= f.input :description, :as => :text,  :input_html => { :rows => "10" } %>

	  <ul id = "openingTimesContainer">
		  <%= f.simple_fields_for :opening_times do |ot| %>
		  	<li class = "openingDayContainer grayedOut">
		  		<%= ot.input :dayId, label: false, as: :boolean, inline_label: I18n.t("date.day_names")[ot.object.dayId], checked_value: ot.object.dayId,
		  		 include_hidden: :false, unchecked_value: nil, input_html: { id: ot.object.dayId, style: "display: none", checked: true } %>
		  		<%= ot.input :from, label: I18n.t("instructions.add_a_pos.from"), placeholder: "00:00", input_html: { id: ot.object.dayId, class: "formTextInput timeTextInput"} %>
		  		<%= ot.input :to, label: I18n.t("instructions.add_a_pos.to"), placeholder: "00:00", input_html: { id: ot.object.dayId, class: "formTextInput timeTextInput"} %>
	  		</li>
	  	  <% end %>
  	  </ul>
  	  <div class="marketStalls">
  	  		<%= button_tag I18n.t("button.add_market_stall"), class: 'btn' %>
  	  </div>
  	  <br />
  </div>
  <%= f.button :submit %>
<% end %>

<% if locals[:parent]== "edit" %>
  <%= button_to I18n.t("button.delete"), @point_of_interest, class: 'btn', method: :delete, data: { confirm: I18n.t("instructions.add_a_pos.confirm_delete") } %>
<% end %>
