<%= simple_form_for(@point_of_sale) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :lat %>
    <%= f.input :lon %>
    <%= f.association :product_categories, :collection => ProductCategory.all, :as => :check_boxes %>
    <%= f.association :shop_type, :collection => ShopType.all %>
    <%= f.simple_fields_for :opening_times do |ot| %>
      <%= ot.input :from %>
      <%= ot.input :to %>
      <%= ot.input :day %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
