<% content_for :javascript_includes do %>
    <%= javascript_include_tag "point_of_interests/form.js" %>
    <%= javascript_include_tag "jquery.validate.js" %>
    <%= javascript_include_tag "point_of_interests/form_map.js" %>
<% end %>

<%= render :partial => "layouts/backend_errors", :locals => {:place => @point_of_interest} %>

<%= simple_form_for @point_of_interest do |f| %>

  <div class="form-inputs">
	  <%= f.input :name, label: "#{I18n.t("properties.main_information.name")}:", input_html: { class: "formTextInput" } %>

	  <% if admin_signed_in? %>	  <!-- Show status change only if admin logged in-->
		  <%= f.input :status_id, label: "#{I18n.t("properties.main_information.status")}:", collection: @status_names_collection, as: :select, prompt: I18n.t("instructions.add_a_pos.select_status"), required: :true %>
		<% end %>

	  <%= f.input :address, label: "#{I18n.t("properties.main_information.address")}:", input_html: { class: "formTextInput" } %>

	  <!--TODO: only if js enabled-->
	  <div id="formPosMapContainer">
		  <div id="locationSearchResults"></div>
		  <div id="addressLookupContainer">
		    <div class="input-group">
			    <input type="text" id="locationInput" class="form-control" type="text" placeholder="<%= I18n.t("input.commands.add_an_address") %>">
			     	<span class="input-group-btn">
			        	<button class="btn btn-defaul customButton" id="locationSubmit" type="button">
			        		<span class="glyphicon glyphicon-search"></span>
			       	 	</button>
			      	</span>    
		    </div>
			</div>
			<div id="formPosMap"></div>
		</div>	
		<!--end-->

	  <%= f.input :posTypeId, label: "#{I18n.t("properties.main_information.selling_point_type")}:", collection: @pos_types_collection, as: :select, prompt: I18n.t("instructions.add_a_pos.select_pos_type"), required: :true %>
	  <%= f.input :productCategoryIds, label: "#{I18n.t("properties.main_information.product_categories")}:", collection: @product_categories_collection, as: :check_boxes, required: :true %>
	  <%= f.input :phone, label: "#{I18n.t("properties.additional_information.phone")}:", input_html: { class: "formTextInput" } %>
	  <%= f.input :cell_phone, label: "#{I18n.t("properties.additional_information.cell_phone")}:", input_html: { class: "formTextInput" } %>
	  <%= f.input :mail, label: "#{I18n.t("properties.additional_information.email")}:", input_html: { class: "formTextInput" } %>
	  <%= f.input :website, label: "#{I18n.t("properties.additional_information.website")}:", input_html: { class: "formTextInput" } %>
	  <%= f.input :description, label: "#{I18n.t("properties.additional_information.description")}:", as: :text,  input_html: { rows: "10" } %>

	  <ul id = "openingTimesContainer">
	  	<label><%= "#{I18n.t("properties.main_information.opening_times")}:" %></label>
	  	<!-- record name, record_object, options, &block-->
			<%= f.simple_fields_for :opening_times, @sorted_opening_times , :validate => :false do |ot| %>
			  	<li class = "openingDayContainer grayedOut">
			  		<%= ot.input :day, label: false, as: :boolean, 
			  			inline_label: I18n.t("date.day_names")[ot.object.day], 
			  			checked_value: ot.object.day,
			  		 	include_hidden: :false, 
			  		 	unchecked_value: nil, 
			  		 	input_html: { id: ot.object.day, checked: false },
			  		 	:required => false %>
			  		<%= ot.input :from, label: I18n.t("instructions.add_a_pos.from"), 
			  			collection: ["00:00", "00:30", "01:00", "06:00", "06:30", "07:00", "07:30", "08:00", "08:30", "09:00", "09:30", "10:00", "10:30", "11:00", "11:30", "12:00", "12:30", "13:00", "13:30", "14:00", "14:30", "15:00", "15:30", "16:00", "16:30", "17:00", "17:30", "18:00", "18:30", "19:00", "19:30", "20:00", "20:30", "21:00", "21:30", "22:00", "22:30", "23:00", "23:30"], 
			  			as: :select, 
			  			wrapper_html: { class: 'hidden' },
			  			input_html: { id: ot.object.day, class: "formTextInput timeTextInput"}, 
			  			:required => false %>
			  		<%= ot.input :to, label: I18n.t("instructions.add_a_pos.to"), 
				  		collection: ["00:00", "00:30", "01:00", "06:00", "06:30", "07:00", "07:30", "08:00", "08:30", "09:00", "09:30", "10:00", "10:30", "11:00", "11:30", "12:00", "12:30", "13:00", "13:30", "14:00", "14:30", "15:00", "15:30", "16:00", "16:30", "17:00", "17:30", "18:00", "18:30", "19:00", "19:30", "20:00", "20:30", "21:00", "21:30", "22:00", "22:30", "23:00", "23:30"], 
				  		as: :select,  
				  		wrapper_html: { class: 'hidden' },
				  		input_html: { id: ot.object.day, class: "formTextInput timeTextInput"}, 
				  		:required => false %>
		  		</li> 
	  	  <% end %>
  	 </ul>
  	<!-- add JS: show the following block only if user clicks on market as pos type (adding a new pos) -->  	 
  	<!-- if it s a market and it is being edited -->   	  
  	<% if locals[:parent]== "edit" && @point_of_interest.posTypeId == 0 %> 
	  	<div class="marketStalls">
  	  		<label><%= I18n.t("properties.additional_information.market_stalls") %></label>
		  	<ul>
		  	 	<% @point_of_interest.market_stalls.each do |ms| %>	
	  	 			<li>
	  	 				<label class="string"><%= ms.name %></label>
	  	 				<%= link_to "Edit", "market_stalls/#{ms.id}/edit.html", class: "ordinaryLink" %>
	  	 			</li>
		  	 	<% end %>
	  	 		<li>
	  	 			<i class="fa fa-plus"></i>
	  	 			<%= link_to I18n.t("button.add_market_stall"), "market_stalls/new.html", class: 'ordinaryLink', role: 'button' %></li> 		
	  	 	</ul>
  	 	</div>
  	  	<br />
  	<% end %>
  	<!-- end block -->
  </div>
  <% if locals[:parent]== "new" %>
 	 <%= f.button :submit, value: I18n.t("button.save_place"), data: { confirm: I18n.t("instructions.add_a_pos.confirm_edit") } %>
  <% elsif locals[:parent]== "edit" %>
  	<%= f.button :submit, value: I18n.t("button.save_changes"), data: { confirm: I18n.t("instructions.add_a_pos.confirm_edit") } %>
  <% end %>
<% end %>
<% if locals[:parent]== "new" %>
	<%= button_to I18n.t("button.back"), :root ,  class: 'btn' %>
<% elsif locals[:parent]== "edit" %>
	<%= button_to I18n.t("button.cancel_changes"), point_of_sale_path(@point_of_interest), method: :get, class: 'btn' %>
  	<%#= button_to I18n.t("button.delete_selling_place"), @point_of_interest, class: 'btn', method: :delete, data: { confirm: I18n.t("instructions.add_a_pos.confirm_delete") } %>
<% end %>