<% content_for :javascript_includes do %> 
    <%= javascript_include_tag "point_of_interests/form.js" %>
    <%= javascript_include_tag "jquery.validate.js" %>
    <%= javascript_include_tag "validator.js" %>
    <%= javascript_include_tag "point_of_interests/form_map.js" %>
<% end %>

<%= render :partial => "layouts/backend_errors", :locals => {:place => @point_of_interest} %>

<%= simple_form_for @point_of_interest  do |f| %>

  <div class="form-inputs">
	  <%= f.input :name, label: "#{I18n.t("properties.main_information.name")}:", input_html: { class: "form-control"}, wrapper_html: { class: "form-group" } %>

	  <% if admin_signed_in? %>	  <!-- Show status section only if admin logged in-->
		  <%= f.input :status_id, label: "#{I18n.t("properties.main_information.status")}:", collection: @status_names_collection, as: :select, prompt: I18n.t("instructions.add_a_pos.select_status"), required: :true, input_html: { class: "btn btn-default" }, wrapper_html: { class: "form-group" } %>
		<% end %>

	  <%= f.input :address, label: "#{I18n.t("properties.main_information.address")}:", input_html: { class: "form-control" }, wrapper_html: { class: "form-group" } %>

	  <!--TODO: only if js enabled maybe? -->
		  <div id="formPosMapContainer" class="col-md-12">
			  <div id="locationSearchResults"></div>
			  <div id="addressLookupContainer">
			    <div class="input-group">
				    <input type="text" id="locationInput" class="form-control" type="text" placeholder="<%= I18n.t("input.commands.add_an_address") %>">
				     	<span class="input-group-btn">
			        	<button class="btn btn-defaul customButton" id="locationSubmit" type="button">
			        		<span class="glyphicon glyphicon-search"></span>
			       	 	</button>
			      	</span>    
			    </div>
				</div>
				<div id="formPosMap"></div>
			</div>	
		<!--end-->

	  <%= f.input :posTypeId, label: "#{I18n.t("properties.main_information.selling_point_type")}:", collection: @pos_types_collection, as: :select, prompt: I18n.t("instructions.add_a_pos.select_pos_type"), required: :true, input_html: { class: "btn btn-default" }, wrapper_html: { class: "form-group" } %>
		<%= render partial: "point_of_sales/other_information", locals: {f: f} %>

	  <ul id = "openingTimesContainer">
	  	<label class="control-label"><%= "#{I18n.t("properties.main_information.opening_times")}:" %></label>
	  	<!-- record name, record_object, options, &block-->
			<%= f.simple_fields_for :opening_times, @point_of_interest.all_opening_times , :validate => :false do |ot| %>
			  	<li class = "openingDayContainer grayedOut">
			  		<%= ot.input :day, label: false, as: :boolean, 
			  			inline_label: I18n.t("date.day_names")[ot.object.day || 0], 
			  			checked_value: ot.object.day,
			  		 	include_hidden: :false, 
			  		 	unchecked_value: nil, 
			  		 	input_html: { id: ot.object.day, checked: false, class: "form-control" },
			  		 	wrapper_html: { class: "form-group" },
			  		 	:required => false %>
			  		 	<%#= image_tag(asset_path("map_icons/opening_days/#{ot.object.day}.png"), size: "36") %>
			  		<%= ot.input :from, label: I18n.t("instructions.add_a_pos.from"), 
			  			collection: ["00:00", "00:30", "01:00", "06:00", "06:30", "07:00", "07:30", "08:00", "08:30", "09:00", "09:30", "10:00", "10:30", "11:00", "11:30", "12:00", "12:30", "13:00", "13:30", "14:00", "14:30", "15:00", "15:30", "16:00", "16:30", "17:00", "17:30", "18:00", "18:30", "19:00", "19:30", "20:00", "20:30", "21:00", "21:30", "22:00", "22:30", "23:00", "23:30"], 
			  			as: :select, 
			  			wrapper_html: { class: 'hidden' },
			  			input_html: { id: ot.object.day, class: "timeTextInput form-control"}, 
			  			:required => false %>
			  		<%= ot.input :to, label: I18n.t("instructions.add_a_pos.to"), 
				  		collection: ["00:00", "00:30", "01:00", "06:00", "06:30", "07:00", "07:30", "08:00", "08:30", "09:00", "09:30", "10:00", "10:30", "11:00", "11:30", "12:00", "12:30", "13:00", "13:30", "14:00", "14:30", "15:00", "15:30", "16:00", "16:30", "17:00", "17:30", "18:00", "18:30", "19:00", "19:30", "20:00", "20:30", "21:00", "21:30", "22:00", "22:30", "23:00", "23:30"], 
				  		as: :select,  
				  		wrapper_html: { class: 'hidden' },
				  		input_html: { id: ot.object.day, class: "timeTextInput form-control" }, 
				  		:required => false %>
		  		</li> 
	  	  <% end %>
  	 </ul>
  	<!-- add JS: show the following block only if user clicks on market as pos type (adding a new pos) -->  	 
  	<!-- if it s a market and it is being edited -->   	  
  	<% if locals[:parent]== "edit" && @point_of_interest.posTypeId == 0 %> 
	  	
  	  <label class="control-label"><%= I18n.t("properties.additional_information.market_stalls") %></label>		
  	  <div class="marketStalls row jumbotron" style="padding: 20px;">  	
		  	 	<% @point_of_interest.market_stalls.each do |stall| %>	
	  	 			<div class="col-md-12">
	  	 				<label class="string"><%= stall.name %></label>
	  	 				<%= link_to I18n.t("links.global.edit"), "market_stalls/#{stall.id}/edit.html", class: "ordinaryLink" %>
	  	 			</div>
		  	 	<% end %>
	  	 		<div class="col-md-12">
	  	 			<!--http://stackoverflow.com/questions/6727251/button-to-without-submit-->
					  <%= button_tag(type: 'button', class: "btn btn-info", onclick: "location.href = '#{new_point_of_sale_market_stall_path(@point_of_interest.id)}'") do %>  	
				  		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
				  		<%= I18n.t("button.add_market_stall") %>
				  	<% end %>	

	  	 		</div> 			  	 
  	 	</div>
  	  <br />
  	<% end %>
  	<!-- end block -->
  </div>

  <% if locals[:parent]== "new" %>

  	<p>
	 	 	<%= button_tag( type: 'button', class: 'btn btn-default',  onclick: "location.href = '#{root_path}'") do %>  	
	  		<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
	  		<%= I18n.t("button.back") %>
	  	<% end %>

	 	 	<%= f.button :button, data: { confirm: I18n.t("instructions.add_a_pos.confirm_save")}, value: 'finish', class: "btn-success" do %>
			  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
				<%= I18n.t("button.save_place_exit") %>
			<% end %>
		</p>

		<p>
			<%= f.button :button, data: { confirm: I18n.t("instructions.add_a_pos.confirm_save")}, value: 'continue', class: "btn-success hidden", id: "submitButton_continue" do %>
				<%= I18n.t("button.save_place_next_step") %> 
				<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
			<% end %>
		</p>

  <% elsif locals[:parent]== "edit" %>
  
  	<p>
		  <%= button_tag(type: 'button', class: "btn btn-warning", onclick: "location.href = '#{point_of_sale_path(@point_of_interest)}'") do %>  	
	  		<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
	  		<%= I18n.t("button.cancel_changes") %>
	  	<% end %>

	  	<%= f.button :button, data: { confirm: I18n.t("instructions.add_a_pos.confirm_edit")}, class: "btn-success" do %>
			  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
				<%= I18n.t("button.save_changes") %>
			<% end %>
		</p>

  <% end %>
<% end %>




