<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @point_of_sale.name %>
</p>

<p>
  <b>Address:</b>
  <%= @point_of_sale.address %>
</p>

<p>
  <b>Lat:</b>
  <%= @point_of_sale.lat %>
</p>

<p>
  <b>Lon:</b>
  <%= @point_of_sale.lon %>
</p>

<p>
  <b>ShopType:</b>
  <%= @point_of_sale.shop_type_id %>
</p>

<p>
  <b>Opening time:</b>
  <%= @point_of_sale.opening_times %>
</p>


<%= link_to 'Edit', edit_point_of_sale_path(@point_of_sale) %> |
<%= link_to 'Back', point_of_sales_path %>
