<div class="border-form-div infoDiv">
  <h2><%= I18n.t("links.global.edit")%> <%= resource_name.to_s.humanize %></h2>

  <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, :required => true, :autofocus => true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :password, :autocomplete => "off", :hint => I18n.t("devise.custom.registrations.leave_blank"), :required => false %>
      <%= f.input :password_confirmation, :required => false %>
      <%= f.input :current_password, :hint => I18n.t("devise.custom.registrations.need_password_to_confirm"), :required => true %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Update" %>
    </div>
  <% end %>

  <h3><%= I18n.t("devise.custom.registrations.cancel_account")%></h3>

  <p>Unhappy? <%= link_to I18n.t("devise.custom.registrations.cancel_account"), registration_path(resource_name), :data => { :confirm => I18n.t("devise.custom.registrations.are_you_sure")}, :method => :delete, class: "ordinaryLink" %></p>

  <%= link_to "Back", :back, class: "ordinaryLink" %>
</div>