<% content_for :javascript_includes do %>
    <%= javascript_include_tag "profile_page/edit.js" %>
<% end %>
<div id="profilePageHeader">
	<ul>
	  	<li id="posName">Verkaufsort bearbeiten</li>
	  	<li></li>
	</ul>
</div>
<div class="wrapper profileWrapper" id="editProfilePageWrapper">
	<div id="editProfilePageContainer" class="profileContainer">
		<div class="row">
			<div class="span7"> 
				<label for="name">todo</label>
				<label for="shopType">todo</label>
				<label for="address">todo</label>
			</div> 
			<div class="span4"><a href="" id="registerAMistakeLink">Hauptinformationen sind falsch?</a></div> 
		</div>
		<div class="row">
		    <div class="span2"> 
		        <ul>
		            <li><label for="productCategory">Produktkategorien:</label></li>
		            <li>(* mindestens 1)</li>
		        </ul>
		    </div>
		    <div class="span3"> 
				<%=  render './add_apos/chooseProductCategoriesList.html' %>
			</div>
		</div>
		<%=  render './add_apos/additionalInformationForm' %>
		<div class="row">
		    <div class="span2">
		        <ul>
		            <li><label for="openingDay">Öffnungszeiten:</label></li>
		            <li>(* mindestens einen Tag markieren)</li>
		        </ul>
		    </div>
		    <div class="span6" id="openingDaysAndTimesList"> 
		        <%=  render './add_apos/openingTimesList' %>                           
		     </div>
		</div>  
		<div class="row">
     		<div class="span3">
	        	<button class="btn" type="button" id="cancelPosChanges">Änderungen zurücksetzen</button>
	   		</div>
	     	<div class="span7">
	        	<button class="btn btn-info" type="button" id="confirmPosChanges">Änderungen Speichern</button>
	   		</div>
		</div>
	</div>



	<div id="marketStallsTitle" class="row"><h4>Marktstände bearbeiten</h4></div>
	<div id="marketStallsContainer">
		<div class="accordion" id="accordion2"></div>
	</div>
	<%=  render 'editMarketStallsContainer' %>

	<div class="row">
 		<div class="span3">
        	<button class="btn" type="button" id="addAMarketstall">Marktstand hinzufügen</button>
   		</div>
	</div>
	
</div>

<div id="dialog-confirm" title="Diesen Markstand löschen?">Wollen Sie wirklich diesen Markstand löschen?
</div>
