<div class="infoDiv" id="homePageText">
	<!--<h1 id='about_main'><%= I18n.t('links.global.about') %></h1>-->
	<div class="hopePageText_section">
		<div class="row" id="about_goal" >
	    	<div class="col-sm-12 col-md-12 col-lg-12"><h1 class="heading"><%= I18n.t("headers.goal")%></h1></div>
	    </div>			   	
      	<div class="row">
      		<div class="col-sm-12 col-md-6 col-lg-6" style="
							background:url(assets/logo_horizontal_2.png) no-repeat center center; 
							background-size: 260px 120px; 
							height: 120px;" >
				<!--<%#= image_tag "logo_horizontal_2.png",  alt: "local food is good",  height: '120' %>-->
			</div>
			<div class="col-sm-12 col-md-6 col-lg-6"><%=  render 'texts/goal' %></div>
		</div>					
	</div>

	<div class="hopePageText_section">	
	    <div class="row" id="about_localFood" >
	    	<div class="col-sm-12 col-md-12 col-lg-12"><h1 class="heading"><%= I18n.t("headers.localFood")%></h1></div>
	    </div>		   	
      	<div class="row">
			<div class="col-sm-12 col-md-6 col-lg-6"><%=  render 'texts/localFood1' %></div>
			<div class="col-sm-12 col-md-6 col-lg-6"><%=  render 'texts/localFood2' %></div>
		</div>					
	</div>


	<div class="hopePageText_section">
		 <div class="row" id="about_map" >
	    	<div class="col-sm-12 col-md-12 col-lg-12"><h1 class="heading"><%= I18n.t("headers.map")%></h1></div>
	    </div>			   	
      	<div class="row">      		
			<div class="col-sm-6 col-md-4 col-lg-4">
				<div class="col-md-12"> 
					<%= image_tag "pictures/map.png",  alt: "food on the map",  height: '220' %>
				</div>
				<%=  render 'texts/map1' %>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-4">
				<div class="col-md-12"> 
					<%= image_tag "pictures/infobox.png",  alt: "infobox on the map",  height: '220' %>
				</div>
				<%=  render 'texts/map2' %></div>
			<div class="col-sm-6 col-md-4 col-lg-4">
				<div class="col-md-12">
					<%= image_tag "pictures/filter2.png",  alt: "filter on the map",  height: '220' %>
				</div>
				<%=  render 'texts/map3' %>
			</div>
		</div>					
	</div>

	<div class="hopePageText_section">
	    <div class="row" id="about_addAPlace" >
	    	<div class="col-sm-12 col-md-12 col-lg-12"><h1 class="heading"><%= I18n.t("headers.addAPlace")%></h1></div>
	    </div>				   	
      	<div class="row">
			<div class="col-sm-12 col-md-6 col-lg-6"><%=  render 'texts/addAPlace' %></div>
			<div class="col-sm-12 col-md-6 col-lg-6"><%= image_tag "logo.png",  alt: "local food is good",  height: '220' %></div>
		</div>					
	</div>


	<!--<div class="hopePageText_section">	
	    <div class="row" id="about_idea" >
	    	<div class="col-sm-12 col-md-12 col-lg-12"><h1 class="heading">Die Idee erzählt in 3 Minuten</h1></div>
	    </div>		   	
      	<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12">
				<iframe src="https://docs.google.com/presentation/d/1hUNOxEECRvO559Q_o8keSbChsyWGGAdK_UATgK4pb44/embed?start=false&loop=false&delayms=3000" frameborder="0" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
			</div>
		</div>					
	</div>-->

	<div class="hopePageText_section">	
		<%=  render 'team' %>				
	</div>

</div>
	

	  




