<div class="row" id="about_team" >
	<div class="col-md-12">
		<h1 class="heading"><%= I18n.t("headers.team")%></h1>
	</div>
</div>		   	
<div class="row" id="about_team_pics">
	<div class="col-sm-4 col-md-2">
		<div id="box-3" class="box">
			<%= image_tag "pictures/team/igne.jpg", size: "160x160",  alt: "team member", id: "image-3" %> 
			<span class="caption fade-caption">	
				<h4>Igne</h3>		
				<span>Development, communication</span>
				<hr>
				<!--<a target="_blank" href="https://www.facebook.com/nullkilometer"><i class="fa fa-facebook-square fa-lg"></i></a>-->
				<a target="_blank" href="https://www.linkedin.com/pub/igne-degutyte/82/651/712"><i class="fa fa-linkedin-square fa-lg"></i></a>
				<a target="_blank" href="https://plus.google.com/102724964968347363426/about"><i class="fa fa-google-plus-square fa-lg"></i></a>
				<a target="_blank" href="mailto:ridike@gmail.com"><i class="fa fa-envelope-square fa-lg"></i></a>
			</span>
		</div>
	</div>
	<div class="col-sm-4 col-md-2">
		<div id="box-3" class="box">
			<%= image_tag "pictures/team/fred.jpg", size: "160x160",  alt: "team member", id: "image-3" %> 
			<span class="caption fade-caption">	
				<h4>Frederik</h3>		
				<span>System administration</span>
				<hr>
				<!--<a href="http://facebook.com/"><i class="fa fa-facebook-square fa-lg"></i></a>
				<a href="http://facebook.com/"><i class="fa fa-linkedin-square fa-lg"></i></a>
				<a href="http://facebook.com/"><i class="fa fa-google-plus-square fa-lg"></i></a>
				<a href="http://facebook.com/"><i class="fa fa-envelope-square fa-lg"></i></a>-->
			</span>
		</div>
	</div>
	<div class="col-sm-4 col-md-2">
		<div id="box-3" class="box">
			<%= image_tag "pictures/team/jojo.jpg", size: "160x160",  alt: "team member", id: "image-3" %> 
			<span class="caption fade-caption">	
				<h4>Jojo</h3>		
				<span>Backend development</span>
				<hr>
				<!--<a href="http://facebook.com/"><i class="fa fa-facebook-square fa-lg"></i></a>
				<a href="http://facebook.com/"><i class="fa fa-linkedin-square fa-lg"></i></a>
				<a href="http://facebook.com/"><i class="fa fa-google-plus-square fa-lg"></i></a>
				<a href="http://facebook.com/"><i class="fa fa-envelope-square fa-lg"></i></a>-->
			</span>
		</div>
	</div>
	<div class="col-sm-4 col-md-2">
		<div id="box-3" class="box">
			<%= image_tag "pictures/team/micha.jpg", size: "160x160",  alt: "team member", id: "image-3" %> 
			<span class="caption fade-caption">	
				<h4>Micha</h3>		
				<span>Communication</span>
				<hr>
				<!--<a href="http://facebook.com/"><i class="fa fa-facebook-square fa-lg"></i></a>
				<a href="http://facebook.com/"><i class="fa fa-linkedin-square fa-lg"></i></a>
				<a href="http://facebook.com/"><i class="fa fa-google-plus-square fa-lg"></i></a>
				<a href="http://facebook.com/"><i class="fa fa-envelope-square fa-lg"></i></a>-->
			</span>
		</div>
	</div>
	<div class="col-sm-4 col-md-2">
		<div id="box-3" class="box">
			<%= image_tag "pictures/team/marten.jpg", size: "160x160",  alt: "team member", id: "image-3" %> 
			<span class="caption fade-caption">	
				<h4>Marten</h3>		
				<span>Frontend development</span>
				<hr>
				<!--<a href="http://facebook.com/"><i class="fa fa-facebook-square fa-lg"></i></a>
				<a href="http://facebook.com/"><i class="fa fa-linkedin-square fa-lg"></i></a>
				<a href="http://facebook.com/"><i class="fa fa-google-plus-square fa-lg"></i></a>
				<a href="http://facebook.com/"><i class="fa fa-envelope-square fa-lg"></i></a>-->
			</span>
		</div>
	</div>
	<div class="col-sm-4 col-md-2">
		<div id="box-3" class="box">
			<%= image_tag "pictures/team/ayse.jpg", size: "160x160",  alt: "team member", id: "image-3" %> 
			<span class="caption fade-caption">	
				<h4>Ayse</h3>		
				<span>Communication</span>
				<hr>
				<!--<a href="http://facebook.com/"><i class="fa fa-facebook-square fa-lg"></i></a>
				<a href="http://facebook.com/"><i class="fa fa-linkedin-square fa-lg"></i></a>
				<a href="http://facebook.com/"><i class="fa fa-google-plus-square fa-lg"></i></a>
				<a href="http://facebook.com/"><i class="fa fa-envelope-square fa-lg"></i></a>-->
			</span>
		</div>
	</div>
</div>	