<% content_for :javascript_includes do %>
    <%= javascript_include_tag "home/home.js" %>
    <%= javascript_include_tag "home/home_map.js" %>
    <%= javascript_include_tag "spin.js" %>
<% end %>
<% content_for :body_classes do 
	p "map"  
 end %>
<div id="mapContainer">
	<div id="locationResultPopup"></div>
	<div id ="mapFilterContainer" >
		<div id="mapFilter" >     
		 	<div class="row clearfix">
		    	<div class="what"> 
		      		<p><%= I18n.t("filter.what") %></p>
		      		<ul>
		      			<li>
		      				<input name ="productCategory" type="image" value="all" class="imageInput" title="all" src="<%= root_url+"assets/images/map_icons/food_categories/all.png" %>">
	      					<span class="toHideIfScreenSmall"><%= I18n.t("input.commands.all") %></span>
	      				</li>
		      			<% Product::CATEGORY_NAMES.each_with_index do |category, index| %>
		      			<li>
	      					<input name ="productCategory" type="image" value="<%= index %>" class="imageInput" title="<%= category %>" src="<%= root_url+"assets/images/map_icons/food_categories/"+ index.to_s() +".png" %>">
	      					<span class="toHideIfScreenSmall"><%= category %></span>
		      			</li>
		      			<% end %>
		      		</ul>
		    	</div>
		    	<div class="where"> 
		      		<p><%= I18n.t("filter.where") %></p>
		      		<ul>
		      			<li>
		      				<input name="shopTypeId" type="image" value="all" class="imageInput" title="select all" src="<%= root_url+"assets/images/map_icons/shop_categories/all.png" %>">
		      				<span class="toHideIfScreenSmall"><%= I18n.t("input.commands.all") %></span>
		      			</li>
		      			<% PointOfSale::POS_TYPE_NAMES.each_with_index do |type, index| %>
		      			<li>
		      				<input name="shopTypeId" type="image" value="<%= index %>" class="imageInput" title="<%= type %>" src="<%= root_url+"assets/images/map_icons/shop_categories/"+ index.to_s() +".png" %>">
		      				<span class="toHideIfScreenSmall"><%= type %></span>
		      			</li>
		      			<% end %>
		      		</ul>
		    	</div>
		    	<div class="when"> 
		      		<p><%= I18n.t("filter.when") %></p>
		      		<ul>
		      			<li>
		      				<input name="openingDay" type="image" value="all" class="imageInput" title="Select all" src="<%= root_url+"assets/images/map_icons/round_button.png" %>">
		      				<span><%= I18n.t("input.commands.all") %></span>
		      			</li>
			      		<% I18n.t("date.day_names").each_with_index do |day, index| %>
		      			<li>
		      				<input name="openingDay" type="image" value="<%= index %>" class="imageInput" title="<%= day %>" src="<%= root_url+"assets/images/map_icons/round_button.png" %>">
		      				<span><%= day %></span>
		      			</li>
		      			<% end %>
		      		</ul>
		    	</div>
		  	</div>
		  	<div id="closeButtonFilter" title="<%= I18n.t("button.search_point_of_sales_open") %>">x</div>
		</div>
		<div id="buttonTextClosed" class="hidden"><%= I18n.t("button.search_point_of_sales") %></div>
		<div id="buttonTextOpen" class="hidden"><%= I18n.t("button.search_point_of_sales_open") %></div>
		<button class="customButton customHomeButton" id="mapFilterButton"><%= I18n.t("button.search_point_of_sales") %></button>
	</div>
	<div id="addressLookupContainer">
	    <div class="input-group">
		    <input type="text" id="locationInput" class="form-control" type="text" placeholder="<%= I18n.t("input.commands.add_an_address") %>">
		     	<span class="input-group-btn">
		        	<button class="btn btn-defaul customButton" id="locationSubmit" type="button">
		        		<span class="glyphicon glyphicon-search"></span>
		       	 	</button>
		      	</span>    
	    </div>
	</div>
	<div id="sideBarForDragging"></div>
	<div id="map"></div>
</div> 
<%=  render 'homeText' %>