<% content_for :javascript_includes do %>
    <%= javascript_include_tag "home/home.js" %>
    <%= javascript_include_tag "home/map_home.js" %>
<% end %>
<% content_for :body_classes do 
	p "map"  
 end %>
<%=  render 'infoboxContent' %>
<div id="mapContainer">
	<div id="locationResultPopup"></div>
	<div id ="mapFilterContainer">
		<div id="mapFilter">     
		 	<div class="row clearfix">
		    	<div class="span2 what"> 
		      		<p><%= I18n.t("filter.what") %></p>
		      		<ul>
		      			<% Product::CATEGORY_NAMES.each_with_index do |category, index| %>
		      			<li>
	      					<input name ="productCategory" type="image" value="<%= index %>" class="imageInput" src="<%= root_url+"images/map_icons/food_categories/"+ index.to_s() +".png" %>">
	      					<span><%= category %></span>
		      			</li>
		      			<% end %>
		      		</ul>
		    	</div>
		    	<div class="span2 where"> 
		      		<p><%= I18n.t("filter.where") %></p>
		      		<ul>
		      			<% PointOfSale::POS_TYPE_NAMES.each_with_index do |type, index| %>
		      			<li>
		      				<input name="shopTypeId" type="image" value="<%= index %>" class="imageInput" src="<%= root_url+"images/map_icons/shop_categories/"+ index.to_s() +".png" %>">
		      				<span><%= type %></span>
		      			</li>
		      			<% end %>
		      		</ul>
		    	</div>
		    	<div class="span2 when"> 
		      		<p><%= I18n.t("filter.when") %></p>
		      		<ul>
			      		<% I18n.t("date.day_names").each_with_index do |day, index| %>
		      			<li>
		      				<!--<input name="openingDay" type="checkbox" value="<%#= index %>" checked><%#= day %>-->
		      				<input name="openingDay" type="image" value="<%= index %>" class="imageInput" src="<%= root_url+"images/map_icons/round_button.png" %>">
		      				<span><%= day %></span>
		      			</li>
		      			<% end %>
		      		</ul>
		    	</div>
		  	</div>
		</div>
		<div id="buttonTextClosed" class="hidden"><%= I18n.t("button.search_point_of_sales") %></div>
		<div id="buttonTextOpen" class="hidden"><%= I18n.t("button.search_point_of_sales_open") %></div>
		<button class="customButton" id="mapFilterButton"><%= I18n.t("button.search_point_of_sales") %></button>
	</div>

	<div id="addShop">
		<button class="customHomeButton" id="addAPlaceButton">
			<a class= "ordinaryLink" href="/addShop"><%= I18n.t("button.add_new_point_of_sales") %></a>
		</button>
		<div class="tooltip" id="tooltipAddAPosButton"></div>
	</div>
	<div id="addressLookupContainer">
		<div class="control-group">
			<div class="controls">
		   		<div class="input-prepend">
		      		<input class="span2" id="locationInput" type="text" placeholder="<%= I18n.t("input.commands.add_an_address") %>">
		      		<a class="btn" href="#" id="locationSubmit"><i class="icon-search"></i></a>
		   		 </div>
		  	</div>
		</div>
	</div>
	<div id="map"></div>
</div> 