<% content_for :javascript_includes do %>
    <%= javascript_include_tag "home/home.js" %>
    <%= javascript_include_tag "home/map_home.js" %>
<% end %>
<%=  render 'infoboxContent' %>

<div id="activityPannel">
	<a href="/addShop" class="btn btn-default" type="button" id="addAPlaceButton">Neuen Verkaufsort Hinzufügen
	</a>
	<div class="tooltip" id="tooltipAddAPosButton"></div>
</div>
<div id="mapContainer">
	<div id="locationResultPopup"></div>
	<div id ="mapFilterContainer">
		<div id="mapFilter" class="hidden">     
		 	<div class="row">
		    	<div class="span2"> 
		      		<p>WAS?</p>
		      		<ul>
		      			<% Product::CATEGORY_NAMES.each_with_index do |category, index| %>
		      			<li>
		      				<label class="checkbox">
		      					<input name ="productCategory" type="checkbox" value="<%= index %>" checked>
		      					<span class="productCategoryIcon" id="productCategoryIcon_<%= index %>">
		      					</span><%= category %>
		      				</label>
		      			</li>
		      			<% end %>
		      		</ul>
		    	</div>
		    	<div class="span2"> 
		      		<p>WO?</p>
		      		<ul>
		      			<% PointOfSale::POS_TYPE_NAMES.each_with_index do |type, index| %>
		      			<li>
		      				<label class="checkbox">
		      					<input name="shopTypeId" type="checkbox" value="<%= index %>" checked><%= type %>
		      				</label>
		      				<span class="shopCategoryIcon" id="shopCategoryIcon_<%= index %>"></span>
		      			</li>
		      			<% end %>
		      		</ul>
		    	</div>
		    	<div class="span2"> 
		      		<p>WANN?</p>
		      		<ul>
			      		<% I18n.t("date.day_names").each_with_index do |day, index| %>
		      			<li><label class="checkbox">
		      				<input name="openingDay" type="checkbox" value="<%= index %>" checked><%= day %>
		      			</label>
		      		</li>
		      		<% end %>
		      		</ul>
		    	</div>
		  	</div>
		</div>
		<button class="btn btn-large btn-block" type="button" id="mapFilterButton">Nach Verkaufsort Suchen</button>
	</div>
	<div id="addressLookupContainer">
		<div class="control-group">
			<div class="controls">
		   		<div class="input-prepend">
		      		<input class="span2" id="locationInput" type="text" placeholder="Adresse eingeben">
		      		<a class="btn" href="#" id="locationSubmit"><i class="icon-search"></i></a>
		   		 </div>
		  	</div>
		</div>
	</div>
	<div id="map"></div>
</div> 