<div class="infoDiv formWrapper">
	<% if @point_of_interest.type == "PointOfSale" %>
		<h1> 
			<%= I18n.t("headers.new_selling_point") %> 
		</h1>
		<p id="firstStepIndicator" class="hidden" style="text-align: center">
			<%= I18n.t("headers.step") %> 1/2
		</p>
		<%= render 'point_of_sales/form', object: @point_of_interest, locals: {parent: "new"}  %>
		
	<% elsif @point_of_interest.type == "PointOfProduction" %>
		<h1> <%= I18n.t("headers.new_production_point") %> </h1>
		<%= render 'point_of_productions/form', object: @point_of_interest, locals: {parent: "new"}  %>
	<% end %>
</div>