<% content_for :javascript_includes do %>
    <%= javascript_include_tag "point_of_interests/show.js" %>
    <%= javascript_include_tag "point_of_interests/map_profile_page.js" %>
<% end %>
<div id="profilePageHeader" class="infoHeader">
	<ul>
		<li class="type"><%= PointOfSale::POS_TYPE_NAMES[@point_of_interest.posTypeId] %></li>
	  	<li class="title"><%= @point_of_interest.name %></li>
	 	<!--<li id="posLocationDegree">locality degree
 	 		<div class="progress">
 			 	<div class="bar bar-success" style="width: 35%;"></div>
 			</div> 
 		</li>-->
	</ul>
</div>
<div class="wrapper profileWrapper" id="profilePageWrapper">
	<div id="profilePageContainer" class="profileContainer">
		<div class="row">
			<div class="span6">
				<%=  render 'posInfoList' %>
			</div>
			<div class="span5">
				<!--<div id="editPosLinkWrapper"><a href="/profilePage/edit">bearbeiten</a></div>-->
				<div id="profilePagePosMap">Map can be displayed only if JavaScript is enabled.</div>
			</div>
		</div>
	</div>
	<% if @point_of_interest.pos_type == 0 %>
		<%=  render 'marketStalls' %>
	<% end %>
</div>