<% content_for :javascript_includes do %>
    <%= javascript_include_tag "market_stalls/form.js" %>
    <%= javascript_include_tag "jquery.validate.js" %>
    <%= javascript_include_tag "validator.js" %>
<% end %>

<%= render :partial => "layouts/backend_errors", :locals => {:place => @market_stall} %>

<%= simple_form_for(@market_stall) do |f| %>

  <div class="form-inputs">

	  <%= f.input :name, label: "#{I18n.t("properties.main_information.name")}:", input_html: { class: "form-control"}, wrapper_html: { class: "form-group" } %>

	  <% if @parent_market.nil? %>
	 		<%= f.input :point_of_sale_id, label: I18n.t("instructions.add_a_pos.parent_market_name"), collection: @parent_market_collection, as: :select, prompt: I18n.t("instructions.add_a_pos.parent_market_name"), required: :true, input_html: { class: "btn btn-default" }, wrapper_html: { class: "form-group" } %>
	  <% else %>
	  	<label><%= I18n.t("instructions.add_a_pos.parent_market_name") %></label>
	  	<p><%= link_to @parent_market.name, "/point_of_sales/#{@parent_market.id}.html", class: "ordinaryLink" %></p> 
	  	<%= f.input :point_of_sale_id, input_html: { class: "form-control", value: @parent_market.id }, wrapper_html: { class: "form-group" }, as: 'hidden' %>
	  <% end %>

	  <% if admin_signed_in? %>	  <!-- Show status section only if admin logged in-->
		  <%= f.input :status_id, label: "#{I18n.t("properties.main_information.status")}:", collection: @status_names_collection, as: :select, prompt: I18n.t("instructions.add_a_pos.select_status"), required: :true, input_html: { class: "btn btn-default" }, wrapper_html: { class: "form-group" } %>
		<% end %>
		
		<%= render partial: "point_of_sales/other_information", locals: {f: f} %>

  </div>

  <%= f.button :submit, value: I18n.t("button.save_changes"), data: { confirm: I18n.t("instructions.add_a_pos.confirm_edit") }, class: "btn-success"  %>

<% end %>

<% if locals[:parent]== "new" %>
	<%= button_to I18n.t("button.back"), :root , method: :get, class: 'btn btn-default' %>
<% elsif locals[:parent] == "edit" %>
	<%= button_to I18n.t("button.delete_market_stall"), @market_stall, class: 'btn btn-danger', method: :delete, data: { confirm: I18n.t("instructions.add_a_pos.confirm_delete_market_stall") } %>
	<%= button_to I18n.t("button.cancel_changes"), point_of_sale_path(@parent_market), method: :get, class: 'btn', class: "btn btn-warning" %>
<% end %>
