<div id="marketStallsTitle" class="row">
	<div class="col-md-6">
		<h4><%= I18n.t("point_of_sale.marketstalls") %></h4>
	</div>
</div>	
<div id="marketStallsContainer_NOJS">
	<% market_stalls.each do |stall| %>
		<div class = "profileContainer">
			<label><%= stall.name %></label>	
			<div><%= I18n.t("headers.belongs_to_market") %> <%= link_to "\"#{stall.point_of_sale.name}\"", "/point_of_sales/#{stall.point_of_sale.id}.html", class: "ordinaryLink" %></div>	
			<%= render :partial => "market_stalls/infoList", :locals => {:stall => stall} %>
		</div>
	<% end %>
</div>
<div id="marketStallsContainer" style="display:none">	
	<div class="accordion" id="accordion2">
		<% market_stalls.each do |stall| %>
		  	<div class="accordion-group">
			    <div class="accordion-heading customButton">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#<%= stall.id %>">
			        <%= stall.name %>
			      </a>
			    </div>
			    <div id="<%= stall.id %>" class="accordion-body collapse">
				    <div class="accordion-inner">
				     	<!--<div><%= stall.point_of_sale.name %></div>-->
						<%= render :partial => "market_stalls/infoList", :locals => {:stall => stall}  %>
						<div id="editPosLinkWrapper">
							<%= link_to I18n.t("links.global.edit"), "/market_stalls/#{stall.id}/edit.html", class: "ordinaryLink" %>
						</div>
			     	</div> 
		    	</div>
		    </div>
	    <% end %>
	</div>
</div>

