<div class="infoDiv formWrapper">


	<h1 style="text-align: left;">
		<%= link_to @market_stall.name, market_stall_path(@market_stall), class: "ordinaryLink" %></h1>
	<h3><b><%= I18n.t("headers.edit_market_stall") %></b></h3>

	<div style="border-top: 1px #ccc solid;">
		<h3 style="text-align: left; margin-bottom: 20px;">
			<b><%= link_to @parent_market.name, point_of_sale_path(@parent_market), class: "ordinaryLink" %></b>
		</h3>
		<%= I18n.t("point_of_sale.pos_type_names")[@parent_market.posTypeId] %>
		<p><%= @parent_market.address %></p>
	</div>


	<%= render 'form', object: @market_stall, locals: {parent: "edit"} %>
</div>