<div class="infoDiv formWrapper">
	<% if @parent_market.nil? %>
		<h1><%= I18n.t("button.add_market_stall") %></h1>
	<% else %> 
		<h1> 
			<%= I18n.t("headers.new_selling_point") %> 
		</h1>
		<p style="text-align: center"><%= I18n.t("headers.step") %> 2/2</p>
		<h3>
			<b><%= I18n.t("button.add_market_stall") %></b>
			<small style="float: right">		  	
				<%= link_to(point_of_sale_path(@parent_market), class: "ordinaryLink") do %>
					<%= I18n.t("button.skip") %>
					<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
				<% end%>
			</small>
		</h3>
	<% end %>	
	<%= render 'form', object: @market_stall, locals: {parent: "new"}  %>
</div>