<div class="infoDiv formWrapper">
  <h1><%= I18n.t("devise.commands.login")%></h1>

	<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	  <div class="form-inputs">
	    <%= f.input :email, label: "#{I18n.t("devise.custom.main_information.email")}:", :required => true, :autofocus => true, input_html: { class: "form-control"},  wrapper_html: { class: "form-group" } %>
	    <%= f.input :password, label: "#{I18n.t("devise.custom.main_information.password")}:", :required => true, input_html: { class: "form-control"},  wrapper_html: { class: "form-group" } %>
	    <%= f.input :remember_me, label: I18n.t("devise.custom.registrations.remember_this"), :as => :boolean if devise_mapping.rememberable? %>
	    
	  </div>
	  <div>
		  <%= f.button :button, class: "btn-success" do %>
	      <%= I18n.t("devise.commands.login") %>
	    <% end %>
    </div>
    
	<% end %>

	<%= render "devise/shared/links" %>
</div>
