// This is a manifest file that'll be compiled into application.js, which will include all the files
// listed below.
//
// Any JavaScript/Coffee file within this directory, lib/assets/javascripts, vendor/assets/javascripts,
// or vendor/assets/javascripts of plugins, if any, can be referenced here using a relative path.
//
// It's not advisable to add code directly here, but if you do, it'll appear at the bottom of the
// the compiled file.
//
// WARNING: THE FIRST BLANK LINE MARKS THE END OF WHAT'S TO BE PROCESSED, ANY BLANK LINE SHOULD
// GO AFTER THE REQUIRES BELOW.


//= require jquery
//= require jquery-ui
//= require jquery_ujs

// Loads all Bootstrap javascripts
//= require bootstrap

//= require jquery.timepicker.js
//= require leaflet
//= tree

//= require spin
//http://dhampik.com/blog/javascript-i18n-rails
//= require i18n
//= require i18n/translations

// require rails.validations

//Default values for map
var INITIALLAT = 52.5233,
INITIALLON = 13.4127,
ZOOMONMARKERLEVEL = 17,
//osmUrl = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', // openstreetmaps - free, standard
//osmUrl = 'http://otile{s}.mqcdn.com/tiles/1.0.0/{type}/{z}/{x}/{y}.png', //mapquest - free
//mapbox - free up to 3000 views/month
osmTilesUrl = 'http://api.tiles.mapbox.com/v4/mapinas.jniiobb3/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwaW5hcyIsImEiOiJkQ1h3X2VzIn0.cYOpZsGKxmb_QCJ0nQfqsQ',         
geocodingUrl = 'http://nominatim.openstreetmap.org/search',


//Images paths
iconImageLocation =  "map_icons/",
shopTypeIconImageLocation = iconImageLocation + "shop_categories/",
shopTypeIconImageUrls = {
	"0" : "<%= asset_path('map_icons/shop_categories/0.png') %>",
	"1" : "<%= asset_path('map_icons/shop_categories/1.png') %>",
	"2" : "<%= asset_path('map_icons/shop_categories/2.png') %>",
	"3" : "<%= asset_path('map_icons/shop_categories/3.png') %>",
	"4" : "<%= asset_path('map_icons/shop_categories/4.png') %>"
},
shopTypeMapMarkerImageUrls = {
	"0" : "<%= asset_path('map_icons/map_markers/0.png') %>",
	"1" : "<%= asset_path('map_icons/map_markers/1.png') %>",
	"2" : "<%= asset_path('map_icons/map_markers/2.png') %>",
	"3" : "<%= asset_path('map_icons/map_markers/3.png') %>",
	"4" : "<%= asset_path('map_icons/map_markers/4.png') %>"
},
shopTypeIconImageUrlDefault = "<%= asset_path('map_icons/shop_categories/default.png') %>",
categoryIconImageUrls = {
	"0" : "<%= asset_path('map_icons/food_categories/0.png') %>",
	"1" : "<%= asset_path('map_icons/food_categories/1.png') %>",
	"2" : "<%= asset_path('map_icons/food_categories/2.png') %>",
	"3" : "<%= asset_path('map_icons/food_categories/3.png') %>",
	"4" : "<%= asset_path('map_icons/food_categories/4.png') %>",
	"5" : "<%= asset_path('map_icons/food_categories/5.png') %>",
	"6" : "<%= asset_path('map_icons/food_categories/6.png') %>",
	"7" : "<%= asset_path('map_icons/food_categories/7.png') %>",
	"8" : "<%= asset_path('map_icons/food_categories/8.png') %>",
	"9" : "<%= asset_path('map_icons/food_categories/9.png') %>"
},
openingDaysIconImageUrls = {
	"0" : "<%= asset_path('map_icons/opening_days/0.png') %>",
	"1" : "<%= asset_path('map_icons/opening_days/1.png') %>",
	"2" : "<%= asset_path('map_icons/opening_days/2.png') %>",
	"3" : "<%= asset_path('map_icons/opening_days/3.png') %>",
	"4" : "<%= asset_path('map_icons/opening_days/4.png') %>",
	"5" : "<%= asset_path('map_icons/opening_days/5.png') %>",
	"6" : "<%= asset_path('map_icons/opening_days/6.png') %>"
},
userIconImageLocation = "<%= asset_path('map_icons/user.png') %>";

var
markerIconWidth = 40,
markerIconHeight = 56,
curPosMarkerIconWidth = 40,
curPosMarkerIconHeight = 56;



//global variables
var shopTypeNames, productCategoryNames, weekDayNames, moreInfoLinkName, enterAnAddressText;


$(document).ready(function(){
	$('[data-toggle="tooltip"]').tooltip();
});

/**
* Is called in home.js file, which is the first js file to load
* and it is loaded after the locale (I18n.locale) has been set
*/
var translateContent = function(){
	shopTypeNames =  I18n.t("point_of_sale.pos_type_names"),
	productCategoryNames = I18n.t("product.category_names"),
	weekDayNames =  I18n.t("date.day_names"),
	moreInfoLinkName = I18n.t("links.global.more_information");
	chooseAnAddressText = I18n.t("input.commands.choose_an_address");
};

var callAjax = function(url, dataToSend, onSuccess){
	$.ajax({
        type: "GET",
        url: url,
        data: dataToSend,
        dataType: "json",
        success: onSuccess,
        error: function(xhr, error){
            console.debug(xhr); console.debug(error);
        }
    }).done(function() {
    });
}


//Map functions used in multiple files
var ajaxCallOSM = function(url, dataToSend, onSuccessFunction){
	$.ajax({
		type: 'GET',
		url: url,
		data: dataToSend,
	//	dataType: 'xml',
		success: onSuccessFunction,
		error: function(jqXHR, textStatus, errorThrown){
			$('#locationSearchResults').html('<div>'+I18n.t("map.messages.error_osm")+'</div>');
			console.warn("searching in OSM DB failed: "+textStatus+": "+jqXHR+" - "+errorThrown);
		}
	});
}

var setLocationSearchListners = function(buttonSelector, inputSelector, resultsSelector, onSuccessFunction){
	buttonSelector.click(function(event){
		registerLocationSearch(event, inputSelector, onSuccessFunction);
	});
	inputSelector.keyup(function(event){
		if(event.keyCode == 13){
			buttonSelector.click();
		}
	});
}

var registerLocationSearch = function(event, inputSelector, onSuccessFunction){
		event.preventDefault();
		var input = inputSelector.val();
		if(input.trim() != ""){ // looks if empty
			var dataToSend = {
				format: 'json',
				q: input,
				polygon: 0,
				addressdetails: 1
			};
			ajaxCallOSM(geocodingUrl, dataToSend, onSuccessFunction);
		}
		inputSelector.val("");
}
