<p><%= I18n.t("custom.mailer.hello")%> <%= @resource.email %>!</p>

<p><%= I18n.t("custom.mailer.password_change_message")%></p>

<p><%= link_to I18n.t("custom.mailer.change_my_password"), edit_password_url(@resource, :reset_password_token => @token) %></p>

<p><%= I18n.t("custom.mailer.ignore_email")%></p>

<p><%= I18n.t("custom.mailer.password_wont_change")%></p>
