<p><%= I18n.t("custom.mailer.hello")%> <%= @resource.email %>!</p>

<p><%= I18n.t("custom.mailer.account_locked")%></p>

<p><%= I18n.t("custom.mailer.click_to_unlock")%></p>

<p><%= link_to I18n.t("custom.mailer.unlock_account"), unlock_url(@resource, :unlock_token => @token) %></p>
