<footer class="footer">
  <div class="inner-footer">
    <small>
      <%= link_to I18n.t('title.main'),   :root %>
      <%= I18n.t('title.by') %>
    </small>
    <nav>
      <ul>
        <li><%= link_to I18n.t('links.global.about'), '#' %></li>
        <li><%= link_to I18n.t('links.global.contacts'), '#' %></li>
        <li><%= link_to I18n.t('links.global.imprint'), '#' %></li>
      </ul>
    </nav>
  </div>
</footer>