  <header class="navbar navbar-fixed-top header">
    <div class="container">
      <div>
        <%= link_to :root, id: "logo",  data: { :no_turbolink => true } do %>
          <ul>
            <li><span id="beta">beta</span></li>
            <li><%= image_tag "logo_letters_horizontal.png",  alt: "local food is good" %></li>
            <!--<li><span id="headerText"><%#= I18n.t('title.main') %></span></li>-->
          </ul>        
        <% end %>
      </div>

      <button class="navbar-toggle btn-navbar" data-toggle="collapse" data-target=".navHeaderCollapse">
          <span class = "icon-bar"></span>
          <span class = "icon-bar"></span>
          <span class = "icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse navHeaderCollapse">
        <ul class="nav navbar-nav navbar-right">
          <%#= request.original_fullpath %>
          <% if current_page?(controller: '/home') %>
            <li>
              <%= link_to  I18n.t('links.global.find_a_selling_place'), "#", class: "lightLink", id: "find_a_selling_place", data: { :no_turbolink => true} %>
            </li> 
            <li>
              <%= link_to I18n.t('links.global.news' ), "http://blog.nullkilometer.org", class: "lightLink" %></li> 
            <li>
              <%= link_to I18n.t('links.global.about' ), "#about_main", class: "lightLink", id: "linkToHomepageText" %>
            </li>
          <% else %>
            <li>
              <%= link_to I18n.t('links.global.find_a_selling_place' ), :root, class: "lightLink", id: "find_a_selling_place", data: { :no_turbolink => true} %></li>
            <li>
              <%= link_to I18n.t('links.global.news' ), "http://blog.nullkilometer.org", class: "lightLink" %></li>
            <li>
              <%= link_to I18n.t('links.global.about' ), { action: "index", controller: "/home", anchor: "about_main"} , class: "lightLink", id: "linkToHomepageText", data: { :no_turbolink => true} %></li>
          <% end %>

          <li>
            <%= link_to I18n.t('links.global.add_new_point_of_sales'), :new_point_of_sale, class: "lightLink", data: { :no_turbolink => true} %>
          </li> 
           <!-- http://stackoverflow.com/questions/8390394/switch-language-with-url-rails-3 -->
          <li>
            <% if I18n.locale == I18n.default_locale %>
              <%= link_to "EN", {:locale=> 'en'},  :class=> "lightLink" %>
            <% else %>
              <%= link_to "DE", {:locale => 'de'}, :class=> "lightLink" %>
            <% end%>
          </li>
        </ul>
      </div>  
    </div>
  </header>
