<header>
  <div class="navbar-inner">
    <div class="container">
      <%= link_to :root, id: "logo" do %>
        <span id="beta">beta</span>
        <%= image_tag "images/logo_letters_horizontal.png",  alt: "local food is good",  height: '28' %>
        <span id="headerText"><%= I18n.t('title.main') %></span>
      <% end %>
      <nav>
        <ul class="nav pull-right" id="topMenuLinks">
          <% if current_page?(root_path) %>
            <li><%= link_to I18n.t('links.global.about' ), "#", class: "lightLink", id: "linkToHomepageText" %></li> 
          <% end %>
          <li><%= link_to I18n.t('links.global.add_new_point_of_sales'), "/addShop", class: "lightLink"%></li>
        </ul>
      </nav>
    </div>
  </div>
</header>