<nav id="headerNavigationBar" class="navbar navbar-default navbar-fixed-top header" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="container">
    <div class="navbar-header">
      <button type="button" id="headerNavigationButton" class="navbar-toggle" data-toggle="collapse" data-target="#navHeaderCollapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--<a class="navbar-brand" href="#">Tutorial Republic</a>-->
      <%= link_to :root, id: "logo", class: "navbar-brand" do %>
        <%= image_tag "logo_letters_horizontal.png",  alt: "local food is good" %>       
      <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navHeaderCollapse">
      <ul class="nav navbar-nav navbar-right">
      <% if current_page?(root_url) || current_page?('/')  %>
        <% isHomePage = true %>
      <% else %>  
        <li>
          <%= link_to  I18n.t('links.global.find_a_selling_place'), isHomePage ? "#" : :root, id: "find_a_selling_place", data: { :no_turbolink => true}, class: "ordinaryLink" %>
        </li> 
      <% end %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle ordinaryLink" id="linkToHomepageText" data-toggle="dropdown"><%= I18n.t('links.global.about') %><span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><%= link_to I18n.t("headers.goal"), isHomePage ? "#about_goal" : root_path(anchor: "about_goal") %></li>
          <li><%= link_to I18n.t("headers.localFood"), isHomePage ? "#about_localFood" : root_path(anchor: "about_localFood") %></li>
          <li><%= link_to I18n.t("headers.map"), isHomePage ? "#about_map" : root_path(anchor: "about_map") %></li>
          <li><%= link_to I18n.t("headers.addAPlace"), isHomePage ? "#about_addAPlace" : root_path(anchor: "about_addAPlace") %></li>
          <li class="divider"></li>
          <li><%= link_to I18n.t("headers.team"), isHomePage ? "#about_team" : root_path(anchor: "about_team") %></li>
        </ul>
      </li>
      <li>
        <%= link_to I18n.t('links.global.news' ), "http://blog.nullkilometer.org", class: "ordinaryLink" %>
      </li> 
      <li>
        <%= link_to I18n.t('links.global.add_new_point_of_sales'), :new_point_of_sale, data: { :no_turbolink => true}, class: "ordinaryLink" %>
      </li> 
      <li class="dropdown">
          <a href="#" class="dropdown-toggle ordinaryLink" data-toggle="dropdown"><%= I18n.locale.upcase %><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "EN", {:locale=> 'en'} %></li>
            <li><%= link_to "DE", {:locale => 'de'} %></li>
            <li><%= link_to "LT", {:locale => 'lt'} %></li>
          </ul>
      </li>
      <% if admin_signed_in? %>
        <li>
          <div class="btn-group">
            <button class="btn dropdown-toggle" data-toggle="dropdown"><%= current_admin.email %><span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li>
                <%= link_to(point_of_sales_path) do  %>
                  <%= I18n.t("headers.all_selling_points") %>
                  <span class="badge"><%= number_of_pending_selling_points %></span>
                <% end %>
              </li>
              <li>
                <%= link_to(market_stalls_path) do  %>
                  <%= I18n.t("headers.all_market_stalls") %>
                  <span class="badge"><%= number_of_pending_market_stalls %></span>
                <% end %>
              </li>

              <li class="divider"></li>
              <li>
                <%= link_to(I18n.t("devise.commands.logout"), destroy_admin_session_path, :method => :delete, class: "ordinaryLink") %>
              </li>
              <li>
                <%= link_to(I18n.t("devise.commands.edit_account"), edit_admin_registration_path, class: "ordinaryLink") %>
              </li>
            </ul>
          </div>
        </li>
      <% end %>
    </ul>
    </div>
  </div>
</nav>
