<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to :root, id: "logo" do %>
        Nullkilometer <span class="beta">beta</span>
      <% end %>
      <nav>
        <ul class="nav pull-right" id="topMenuLinks">
              <li><%= link_to I18n.t('links.global.home'),   :root %></li>
              <li><%= link_to I18n.t('links.global.map'),   '/map' %></li>
            <!--     <li><%= link_to I18n.t('links.global.register'),   '#' %></li>
              <li><%= link_to I18n.t('links.global.login'),   '#' %></li>-->      
        </ul>
      </nav>
    </div>
  </div>
</header>