<header>
  <div class="navbar-inner">
    <div class="container">
      <%= link_to :root, id: "logo" do %>
        <span class="title" id="beta">beta.</span>Nullkilometer - <span class="title"><%= I18n.t('title.main') %></span>
      <% end %>
      <nav>
        <ul class="nav pull-right" id="topMenuLinks">
              <li><%= link_to I18n.t('links.global.home'), :root, class: "lightLink"  %></li>
              <li><%= link_to I18n.t('links.global.map'),   '/map', class: "lightLink"  %></li>
            <!--     <li><%= link_to I18n.t('links.global.register' ),   '#' %></li>
              <li><%= link_to I18n.t('links.global.login'),   '#' %></li>-->      
        </ul>
      </nav>
    </div>
  </div>
</header>