<!DOCTYPE html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:address="http://schemas.talis.com/2005/address/schema#">
<html>
<head>
  <title>Nullkilometer</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
	<%= yield :javascript_includes %>

  <%= javascript_tag do %>
    I18n.defaultLocale = "<%= I18n.default_locale %>";
    I18n.locale = "<%= I18n.locale %>";
  <% end %>

  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= render 'layouts/shim' %> 

  <link rel="icon" href="<%= "/assets/images/favicon.png" %>" type="image/x-icon" />
</head>
<body class="<%= yield :body_classes %>">
  <%=  render 'layouts/header' %> 
    
  <div class="content-wrapper">
  	<div class="container contentContainer">

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

  		<%= yield %> 
  	</div>
  </div>

  <%=  render 'layouts/footer' %>
</body>
</html>
