<!DOCTYPE html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:address="http://schemas.talis.com/2005/address/schema#">
<html>
<head>

  <title>Nullkilometer</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
	<%= yield :javascript_includes %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %> 
  
  <link rel="icon" href="<%= root_url+"images/favicon.png" %>" type="image/x-icon" />
  <link href='http://fonts.googleapis.com/css?family=Fenix' rel='stylesheet' type='text/css' />
  <link href='http://fonts.googleapis.com/css?family=Ubuntu&subset=cyrillic,latin' rel='stylesheet' type='text/css' />
</head>
<body>
	<%=  render 'layouts/header' %> 
	<div class="container contentContainer">
		<%= yield %> 
		<%=  render 'layouts/footer' %> 
	</div>

</body>
</html>
