<!DOCTYPE html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:address="http://schemas.talis.com/2005/address/schema#">
<html>
<head>
  <title>Nullkilometer</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
	<%= yield :javascript_includes %>

  <meta property="og:title" content="Nullkilometer" /> 
  <meta property="og:description" content="Local food" />  
  <meta property="og:image" content="http://www.nullkilometer.org/assets/logo.png" /> 


  <%= javascript_tag do %>
    I18n.defaultLocale = "<%= I18n.default_locale %>";
    I18n.locale = "<%= I18n.locale %>";
  <% end %>

  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= render 'layouts/shim' %> 

  <link rel="icon" href="<%= asset_path("favicon.png") %>" type="image/x-icon" />
</head>
<body class="<%= yield :body_classes %>">
  <%=  render 'layouts/header' %> 
  <!--both checks needed: when locale is set and when locale is not set :/) -->
  <% if current_page?(root_url) || current_page?('/')  %>
    <%=  render 'map' %>
  <% end %>
	<div class="container">

    <%# if notice %>
      <!--p class="alert alert-success"><%= notice %></p-->
    <%# end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

  	<%= yield %> 
	</div>

  <%=  render 'layouts/footer' %>
</body>
</html>
